%li.media.comment-area
  .comment
    .comment-author
      #{comment.user.name} commented #{time_ago_in_words(comment.created_at)} ago
    .comment-body
      = markdown(comment.body)
    - if @issue.project.member?(current_user) && @issue.project.status == Project::STATUS_ACTIVE 
      .comment-actions
        = link_to "Edit", "#", class: "btn btn-default js-edit-comment-button", "data-no-turbolink" => "1"
        = link_to "Destroy", comment, class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete
  = form_for comment, html: { style: "display:none;" } do |f|
    .form-group
      = f.text_area :body, class: "form-control"
    .actions
      = f.submit class: "btn btn-default"
      = link_to "Cancel", "#", class: "js-cancel-edit-comment-button", "data-no-turbolink" => "1"
