- if @issue.errors.any?
  #error_explanation
    #h2= "#{pluralize(@issue.errors.count, "error")} prohibited this issue from being saved:"

    %ul
    - @issue.errors.full_messages.each do |msg|
      %li= msg

= f.hidden_field :author_id, value: @issue.author ? @issue.author.id : current_user.id
.input-area
  .form-group
    = f.text_field :subject, class: "form-control", placeholder: "Subject"
  .form-group
    = f.text_area :description, class: "form-control", placeholder: "Leave a comment", rows: "5"
  - if @issue.persisted? && @issue.github
    .form-group
      = f.label :assignee_id
      = f.select :assignee_id, @members.collect { |m| [ m.user.github.username, m.user.id ] }, { include_blank: true }, class: "form-control"
  - else
    .form-group
      = f.label :assignee_id
      = f.select :assignee_id, Member.where(project_id: project.id).collect { |m| [ m.user.name, m.user.id ] }, { include_blank: true }, class: "form-control"
  - if @issue.will_start_at.blank?
    .form-group#add-will-start-at
      = link_to "Add will start at", "#", class: "btn btn-default js-add-will-start-at"
    .form-group.hidden#will-start-at
      = f.label :will_start_at
      %br
      = f.datetime_select :will_start_at, class: "form-control", disabled: true
      %button.close.js-close-will-start-at{ type: "button", aria: { hidden: "true" } } &times;
  - else
    .form-group#will-start-at
      = f.label :will_start_at
      %br
      = f.datetime_select :will_start_at, class: "form-control"
.actions.pull-right
  = f.submit class: "btn btn-success"
