= div_for issue, class: "media" do
  .pull-left
    .issue-subject
      %b
        = link_to_provider(issue)
        = link_to issue.subject, issue
    .issue-author
      Opend by #{issue.author.name} #{time_ago_in_words(issue.created_at)} ago
    .issue-status
      - if issue.status == 1
        %span.label.label-success Open
      - else
        %span.label.label-danger Closed
  .actions.pull-right
    - if issue.status == 1
      = link_to "Close", close_issue_path(issue, format: :json), remote: true, method: :patch, class: "btn btn-danger js-hide-issue"
    - else
      = link_to "Reopen", reopen_issue_path(issue, format: :json), remote: true, method: :patch, class: "btn btn-default js-hide-issue"
    - if issue.status == 1
      - if issue.do_today?
        = link_to "Don't do today", postpone_issue_path(issue, format: :json), remote: true, method: :patch, class: "btn btn-default js-hide-issue"
      - else
        = link_to "Do today", do_today_issue_path(issue, format: :json), remote: true, method: :patch, class: "btn btn-default js-hide-issue"
      - if current_user.work_in_progress?(issue)
        = link_to "Stop", stop_workload_path(current_user.running_workload.id), remote: true, method: :patch, class: "btn btn-warning js-stop-workload-button"
      - else
        = link_to "Start", start_issue_workloads_path(issue_id: issue.id), remote: true, method: :post, class: "btn btn-primary js-start-workload-button"
