<h1>Editing issue</h1>


<%= form_for(@issue) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :author_id, value: @issue.author ? @issue.author.id : current_user.id %>
  <div class="form-group">
    <%= f.label :subject %><br>
    <%= f.text_field :subject, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :assignee_id %><br>
    <%= f.select :assignee_id, Member.where(project_id: @issue.project.id).collect { |m| [ m.user.username, m.user.id ] }, { include_blank: true }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :will_start_at %><br>
    <%= f.datetime_select :will_start_at, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>

<%= link_to "Back to issue", @issue %>
