.row
  .col-sm-offset-2.col-sm-8.col-md-offset-2.col-md-8.issue-form
    .issue__back
      = link_to @issue.project, class: "issue__back__link" do
        = fa_icon "chevron-left"
      = @issue.project.name
    %hr
    = form_for @issue, data: { "project-id" => @issue.project.id } do |f|
      - if @issue.errors.any?
        #error_explanationpnnel.panel.panel-danger
          .panel-heading
            #h2= "#{pluralize(@issue.errors.count, "error")} prohibited this issue from being saved:"

          .panel-body
            %ul
            - @issue.errors.full_messages.each do |msg|
              %li= msg
      = f.hidden_field :author_id, value: @issue.author.id
      .form-group
        = f.text_field :subject, class: "form-control", placeholder: "Subject"
      .form-group
        %ul.nav.nav-tabs{ role: "tablist" }
          %li.active
            = link_to "Write", ".issue__description--write", role: "tab", "data-toggle" => "tab"
          %li
            = link_to "Preview", ".issue__description--preview", role: "tab", "data-toggle" => "tab", class: "issue__preview-button"
        .tab-content
          .tab-pane.active.issue__description--write
            = f.text_area :description, class: "form-control", placeholder: "Leave a comment", rows: "5"
          .tab-pane.issue__description--preview.markdown-body
            %p
              Loading content ...
      .form-group
        #js-assignee-select-box
          = f.select :assignee_id, @members.collect { |m| [ "#{m.user.name} will be assigned", m.user.id ] }, { include_blank: true }, class: "form-control"
      - if current_user.github && @issue.github
        .form-group
          %ul.issue__labels
            - @labels.each_with_index do |github_label, index|
              %li.issue__labels__item
                .checkbox
                  = label_tag nil do
                    = check_box_tag "issue[labels][]", github_label.name, @issue.github_labels.any? { |label| label["name"] == github_label.name }
                    %span.label{ style: calc_label_color(github_label.color) }
                      = github_label.name
      - if @issue.will_start_at.blank?
        .form-group
          .issue__will-start-at__link--add
            = link_to "When will you start this issue?", "#", class: "js-add-will-start-at"
          .hidden.issue__will-start-at__field
            .form-datetime-select
              = f.datetime_select :will_start_at, {}, class: "form-control", disabled: true
              %button.close.issue__will-start-at__link--close{ type: "button", aria: { hidden: "true" } } &times;
      - else
        .form-group#will-start-at
          = f.label :will_start_at
          %br
          = f.datetime_select :will_start_at, {}, class: "form-control"
      - if current_user.github && @issue.project.github && @issue.github.blank?
        %hr
        .form-group.checkbox
          = label_tag "github" do
            = check_box_tag "issue[enabled_github]", 1, @issue.github, checked: !@issue.github.blank?, id: "js-add-github-checkbox"
          Github
          %br
          %span.text-muted If checked add this issue to github.
      %hr
      .actions.pull-right
        = f.submit "Update", class: "btn btn-success"
