<div class="row">
  <div class="col-lg-6">
    <div class="issue">
      <div class="wrap">
        <div class="header">
          <div class="author text-muted">
            <b><%= @issue.author.name %></b> opened this issue <%= time_ago_in_words(@issue.created_at) %> ago
            <% if can? :update, @issue %>
              <%= link_to "Edit", edit_issue_path(@issue), class: "btn btn-sm btn-default pull-right" %>
            <% end %>
          </div>
          <div class="subject">
            <h2 style="margin:0">
              <%= link_to_provider(@issue) %>
              <%= @issue.subject %>
            </h2>
          </div>
          <div class="status">
            <% if @issue.status == 1 %>
              <span class="label label-success">Open</span>
          <% else %>
              <span class="label label-danger">Close</span>
          <% end %>
          </div>
        </div>
        <div class="assignee">
          <% if @issue.assignee.present? %>
            <b><%= link_to @issue.assignee.name, @issue.assignee %></b> is assigned
        <% else %>
            No one is assigned
        <% end %>
          will start at <%= @issue.will_start_at || "today" %>
      </div>
        <div class="description">
          <%= @issue.description.present? ? markdown(@issue.description) : "No description given." %>
        </div>
      </div>
      <%= render 'actions' %>
    </div>
  </div>

<div class="col-lg-6">
  <h2>
    <%= link_to @issue.project.name, @issue.project %>
  </h2>
  <%= markdown(@issue.project.description) %>
</div>
</div>

<div class="row">
<div class="col-lg-6">
  <ul class="media-list">
    <%= render partial: 'comments/comment', collection: @issue.comments.order("id ASC") %>
  </ul>

<% if can?(:update, @issue) && @issue.project.status == Project::STATUS_ACTIVE %>
  <%= form_for [@issue, Comment.new] do |f| %>
    <div class="form-group">
      <%= f.text_area :body, class: "form-control", placeholder: "Leave a comment" %>
    </div>
    <div class="actions pull-right">
      <%= f.submit "Comment", class: "btn btn-success" %>
    </div>
  <% end %>
<% end %>

</div>

<div class="col-lg-6">
<div class="section">
  <h3>Workloads</h3>
  <ul class="media-list">
    <%= render @issue.workloads.complete.order("updated_at DESC") %>
  </ul>
</div>
</div>

</div>
