.row
  .col-lg-6
    %section.issue
      %h1.issue__subject
        = link_to_provider(@issue)
        = @issue.subject
      .issue__meta
        .issue__status
          - if @issue.status == 1
            %span.label.label-success
              = fa_icon "exclamation-circle"
              Open
          - else
            %span.label.label-danger
              = fa_icon "check-circle"
              Closed
        .issue__author.text-muted
          %b= link_to @issue.author.name, @issue.author
          opened this issue on #{@issue.created_at.to_date.to_s(:long)}
        - if can?(:update, @issue)
          = link_to "Edit", edit_issue_path(@issue)

        - if @issue.github && @issue.github.labels
          .issue__labels
            - @issue.github.labels.each do |github_label|
              %span.label.issue__label{ style: "background-color:##{github_label["color"]}" }
                = github_label["name"]

        .issue__assignee.text-muted
          - if @issue.assignee.present?
            = image_tag gravatar_url(@issue.assignee.email, 20)
            %b= link_to @issue.assignee.name, @issue.assignee
            is assigned
          - else
            No one is assigned
          will start at #{@issue.will_start_at || "today"}
      .issue__description
        = @issue.description.present? ? markdown(@issue.description) : "No description given."
      - if can?(:update, @issue)
        %hr
        = render 'actions'

  .col-lg-6
    = render "projects/project", project: @issue.project

.row
  .col-lg-6
    %section
      %ul.media-list.comment-list
        - @issue.comments.order("id ASC").each do |comment|
          = render "comments/list_item", comment: comment
      - if can?(:create, @issue)
        .comment-form
          = form_for [@issue, Comment.new] do |f|
            .form-group
              %ul.nav.nav-tabs{ role: "tablist" }
                %li.active
                  = link_to "Write", "#comment__body--write", role: "tab", "data-toggle" => "tab"
                %li
                  = link_to "Preview", "#comment__body--preview", role: "tab", "data-toggle" => "tab", class: "comment__preview-button"
              .tab-content
                .tab-pane.active#comment__body--write
                  = f.text_area :body, class: "form-control", placeholder: "Leave a comment", rows: "5"
                .tab-pane#comment__body--preview.markdown-body
            .actions.text-right
              - if @issue.close?
                = button_tag "Reopen", class: "btn btn-default issue__reopen-and-comment-button issue__comment-and-button", "data-comment-text" => "Reopen and comment", "data-original-text" => "Reopen"
              - else
                = button_tag "Close", class: "btn btn-danger issue__close-and-comment-button issue__comment-and-button", "data-comment-text" => "Close and comment", "data-original-text" => "Close"
              = f.submit "Comment", class: "btn btn-success"

  .col-lg-6
    %section
      %ul.media-list.workload-list
        - @issue.workloads.complete.order("updated_at DESC").each do |workload|
          = render "workloads/list_item", workload: workload
