<div class="row">
<div class="col-lg-6">
<div class="issue">
  <div class="issue-author text-muted">
    <b><%= @issue.author.name %></b> opened this issue <%= time_ago_in_words(@issue.created_at) %> ago
  </div>
  <div class="issue-subject">
    <h2 style="margin:0">
      <%= link_to_provider(@issue) %>
      <%= @issue.subject %>
    </h2>
  </div>
  <div class="issue-assignee">
    <% if @issue.assignee.present? %>
      <b><%= @issue.assignee.name %></b> is assigned
    <% else %>
        No one is assigned
    <% end %>
    will start at <%= @issue.will_start_at || "today" %>
  </div>
  <div class="issue-status">
    <% if @issue.status == 1 %>
      <span class="label label-success">Open</span>
    <% else %>
      <span class="label label-danger">Close</span>
    <% end %>
  </div>
  <div class="issue-description">
    <%= @issue.description.present? ? hbr(@issue.description) : "No description given." %>
  </div>
  <% if @issue.project.member?(current_user) && @issue.project.status == Project::STATUS_ACTIVE %>
    <div class="issue-actions">
      <% if current_user.work_in_progress?(@issue) %>
        <%= link_to "Stop", stop_workload_path(current_user.running_workload), class: "btn btn-warning", method: :patch %>
      <% else %>
        <%= link_to "Start", start_issue_workloads_path(issue_id: @issue), class: "btn btn-primary", method: :post %>
      <% end %>
      <% if @issue.will_start_at.present? && @issue.will_start_at >= Time.now.utc %>
        <%= link_to "Do today", do_today_issue_path(issue_id: @issue), class: "btn btn-default", method: :patch %>
      <% else %>
        <%= link_to "Don't do today", postpone_issue_path(issue_id: @issue), class: "btn btn-default", method: :patch %>
      <% end %>
      <%= link_to "Edit", edit_issue_path(@issue), class: "btn btn-default" %>
      <% if @issue.status == 1 %>
        <%= link_to "Close", close_issue_path(@issue), class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :patch %>
      <% else %>
        <%= link_to "Reopen", reopen_issue_path(@issue), class: "btn btn-default", method: :patch %>
      <% end %>
    </div>
  <% end %>
</div>
</div>
<div class="col-lg-6">
  <h2>
    <%= link_to @issue.project.name, @issue.project %>
  </h2>
  <%= hbr(@issue.project.description) %>
</div>
</div>


<div class="row">
<div class="col-lg-6">
  <ul class="media-list">
    <%= render partial: 'comments/comment', collection: @issue.comments.order("id ASC") %>
  </ul>

<% if @issue.project.member?(current_user) && @issue.project.status == Project::STATUS_ACTIVE %>
  <%= form_for [@issue, Comment.new] do |f| %>
    <div class="form-group">
      <%= f.text_area :body, class: "form-control", placeholder: "Leave a comment" %>
    </div>
    <div class="actions pull-right">
      <%= f.submit "Comment", class: "btn btn-success" %>
    </div>
  <% end %>
<% end %>


</div>

<div class="col-lg-6">
<div class="section">

<div class="section">
  <h3>Workloads</h3>
  <ul class="media-list">
    <% @issue.workloads.complete.order("updated_at DESC").each do |workload| %>
      <li class="media">
        <div class="work-log">
          <%= workload.user.name %><br />
          WorkTime <%= formatted_time_distance(workload.start_at, workload.end_at) %><br />
          Start At: <%= workload.start_at %> / End At: <%= workload.end_at %>
          <% if @issue.project.status == Project::STATUS_ACTIVE %>
            <div class="work-log-actions">
              <%= link_to "Edit", edit_workload_path(workload), class: "btn btn-default" %>
              <%= link_to "Destroy", workload, class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete %>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
</div>
</div>
