%li.media.workload-list__item
  .pull-left
    = link_to workload.user do
      = image_tag gravatar_url(workload.user.email), class: "img-circle"
  .media-body
    .workload
      - if can? :destroy, workload
        = link_to workload, class: "close", data: { confirm: "Are you sure?" }, method: :delete do
          &times;
        - if can?(:update, workload)
          = link_to edit_workload_path(workload), class: "workload__edit-button pull-right", title: "Edit workload" do
            = fa_icon "pencil"
      .workload__duration
        = link_to workload.user.name, workload.user
        %span.text-muted
          worked #{workload.formatted_duration}
      .workload__time
        #{l(workload.start_at, format: :short)} - #{l(workload.end_at, format: :short)}
