.media
  .pull-left
    = fa_icon "pause"
  .media-body
    - if activity.trackable
      .text-muted
        #{time_ago_in_words(activity.created_at)} ago
      .activity-title
        = link_to activity.owner.name, activity.owner
        stopped work on issue
        = link_to activity.trackable.issue.subject, activity.trackable.issue
      .media
        .pull-left
          .media-object
            = image_tag gravatar_url(activity.owner.email, 32)
        .media-body
          = link_to activity.owner.name, activity.owner
          was working for
          = activity.trackable.formatted_duration
    - else
      %p.text-muted
        This workload was removed.
