<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control", placeholder: "Enter project name" %>
  </div>
  <div class="form-group">
    <%= f.label :description %> (optional)<br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <% if @project.persisted? %>
  <hr>
  <% if @project.admin.github %>
    <div class="form-group">
      <%= f.label :github_full_name %> (optional)<br>
      <%= f.text_field :github_full_name, class: "form-control", placeholder: "rails/rails" %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :ruffnote_full_name %> (optional)<br>
    <%= f.text_field :ruffnote_full_name, class: "form-control" %>
  </div>
  <% end %>
  <hr>
  <div class="radio">
    <label>
      <%= f.radio_button :is_public, "true" %>
      <b>Public</b><br>
      <span class="text-muted">Anyone can see this project.</span>
    </label>
  </div>

  <div class="radio">
    <label>
      <%= f.radio_button :is_public, "false" %>
      <b>Private</b><br>
      <span class="text-muted">You choose who can see to this project.</span>
    </label>
  </div>
  <hr>
  <div class="form-group">
    <p><b>Crowdworks Project URL</b></p>
    <%= f.text_field :crowdworks_url, class: "form-control" %>
    <label>
      <b><br/><%= link_to "クラウドワークスアカウント登録", user_authentications_path(current_user) %></b><br/>
      <span class="text-muted">各個人のクラウドワークスのアカウントのユーザー名も追加してください</span>
    </label>
  </div>
  <hr>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
