<%= link_to "Back to all projects", projects_path %>
<div class="project-header">
  <div class="project-name">
    <h2>
      <%= @project.name %>
    </h2>
  </div>
  <div class="project-description">
    <p><%= hbr(@project.description) %></p>
  </div>
  <div class="project-is-public">
    <% if @project.is_public %>
      <span class="label label-info">Public</span>
    <% else %>
      <span class="label label-default">Private</span>
    <% end %>
  </div>
  <% if @project.admin?(current_user) %>
    <div class="project-actions">
      <% if @project.status == Project::STATUS_ACTIVE %>
        <%= link_to "Add a member", project_members_path(@project), class: "btn btn-default" %>
        <%= link_to "Edit", edit_project_path(@project), class: "btn btn-default" %>
        <%= link_to "Close", close_project_path(@project), class: "btn btn-default", method: :patch %>
        <%= link_to "Archive", archive_project_path(@project), class: "btn btn-default", method: :patch %>
      <% else %>
        <%= link_to "Active", active_project_path(@project), class: "btn btn-default", method: :patch %>
      <% end %>
      <%= link_to "Export", datum_path(@project), class: "btn btn-default" %>
    </div>
  <% end %>
</div>

<div class="row">
<div class="col-lg-4">
  <h3>
    Issue
    <% if @project.status == Project::STATUS_ACTIVE %>
      <% if @project.member?(current_user) %>
        <%= link_to "Add a issue", new_project_issue_path(@project), class: "btn btn-xs btn-default" %>
      <% end %>
    <% end %>
  </h3>
  <div id="issues">
    <%= render "shared/issue_list", collection: @issues %>
  </div>
</div>
<div class="col-lg-4">
  <h3>
    Comments
  </h3>
  <div id="comments">
    <ul class="media-list">
      <% @comments.each do |comment| %>
        <li class="media">
          <div class="comment">
            <div class="comment-author">
              <%= comment.user.name %> @ <%= time_ago_in_words(comment.created_at) %> ago
            </div>
            <div class="comment-body">
              <%= markdown(comment.body) %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="col-lg-4">
  <h3>
    WorkLoads
  </h3>
  <div id="work-logs">
    <ul class="media-list">
      <% @workloads.each do |workload| %>
        <li class="media">
          <%= workload.user.name %><br />
           
          <%= time_ago_in_words(workload.start_at) %> - <%= time_ago_in_words(workload.end_at) %>
          (<%= formatted_time_distance(workload.start_at, workload.end_at) %>)
        </li>
      <% end %>
    </ul>
  </div>
</div>
