.row
  .col-lg-8
    %section.project
      .clearfix
        %h1.project__name
          = @project.name
          .pull-right.dropdown
            = link_to "#", class: "btn btn-default", "data-toggle" => "dropdown" do
              = fa_icon "cog"
            %ul.dropdown-menu{ role: "menu", "aria-labelledby" => "dLabel" }
              - if can? :update, @project
                - if @project.active?
                  %li
                    = link_to "Edit", edit_project_path(@project)
                  %li
                    = link_to "Add member", project_members_path(@project)
                  %li
                    = link_to "Close", close_project_path(@project), method: :patch
                  - if @project.github
                    %li
                      = link_to "Synchronize with the Github", project_github_imports_path(@project), method: :post
                - else
                  %li
                    = link_to "Active", active_project_path(@project), method: :patch
                %li
                  = link_to "Report", project_reports_path(@project)
                %li
                  = link_to "Export", datum_path(@project, format: :json)

      .project__description.text-muted
        = markdown(@project.description)
      .project__meta
        - if @project.is_public
          %span.label.label-info Public
        - else
          %span.label.label-default Private
        - if @project.github
          %span.label.label-default= @project.github.full_name
      - if user_signed_in? && @project.member?(current_user) && current_user.authentications.exists?(["provider = ?", "crowdworks"])
        .crowdworks-contract
          - if @cwcontract
            Crowdworks Contract ID:
            = link_to "#{@cwcontract.contract_id}", "https://crowdworks.jp/contracts/#{@cwcontract.contract_id}"
            = link_to "Edit", edit_crowdworks_contract_path(@project.crowdworks_contracts.find_by(user_id: current_user.id))
            = link_to "Destroy", @cwcontract, method: :delete, "data-confirm" => "Are you sure?"
          - else
            = link_to "Connect Crowdworks Timesheet", new_project_crowdworks_contract_path(@project)

    %section
      %h2.issues__caption
        = fa_icon "exclamation-circle"
        Issues
      .issues-index

    %section
      %h2.comments__caption
        = fa_icon "comments"
        Comments
      %ul.media-list.comment-list
        - @comments.order("id ASC").each do |comment|
          = render "comments/list_item", comment: comment

    %section
      %h2.workloads__caption
        = fa_icon "clock-o"
        WorkLoads
      %ul.media-list.workload-list
        - @workloads.each do |workload|
          = render "workloads/list_item", workload: workload

  .col-lg-4
    %section
      %h2.activities__caption
        = fa_icon "history"
        Activities
      %ul.activities-list.media-list
        = render_activities(@activities, layout: :activity)

:javascript
  (function() {
    var issues = new Timecard.Collections.Issues();
    issues.project_id = "#{@project.id}"
    issues.url = '/projects/'+#{@project.id}+'/issues'
    var workloads = new Timecard.Collections.Workloads();
    issues.fetch({
      success: function(collection) {
        var viewIssuesIndex = new Timecard.Views.IssuesIndex({
          collection: collection,
          workloads: workloads
        });
        viewIssuesIndex.render();
      }
    });
  })();
