.new-crowdworks-contract__form--full
  = form_for [@project, @contract] do |f|
    .form-group
      = f.label :contract_id
      = f.text_field :contract_id, class: "form-control"
    = f.submit "Submit", class: "btn btn-primary"

= link_to "クラウドワークスアカウント登録", user_authentications_path(current_user)
%p.text-muted 各個人のクラウドワークスのアカウントのユーザー名も追加してください
