= link_to :back do
  = fa_icon "angle-double-left"
  Back
.reports__head
  %h1.caption
    = link_to @project.name, @project
    %small
      TOTAL TIME
      = @project.time_entries.total_duration
  %p
    = @project.issues.open.count
    open issues
    ,
    = @project.issues.closed.count
    closed issues
    ,
    = @project.comments.count
    comments
    ,
    = @project.members.count
    members

%ul.nav.nav-tabs{ role: "tablist" }
  - (Time.zone.today.beginning_of_week..Time.zone.today.end_of_week).each do |date|
    %li{ class: "#{Time.zone.today == date ? 'active' : ''}" }
      = link_to date, "##{date}", role: "tab", "data-toggle" => "tab"
.tab-content.time-sheet
  - (Time.zone.today.beginning_of_week..Time.zone.today.end_of_week).each do |date|
    .tab-pane{ class: "fade #{Time.zone.today == date ? 'active in' : ''}", id: "#{date}" }
      %h2.caption
        = date
        %small
          TOTAL TIME
          = @project.time_entries.daily(date).complete.total_duration
      %table.table.table-bordered
        %thead
          %tr
            %th User
            %th Total Duration
            %th Time Entries
        - @project.users.each do |user|
          %tr
            %td
              = image_tag gravatar_url(user.email), class: "img-circle"
              = link_to user.name, user
            %td
              = user.workloads.where(issue_id: @project.issues.ids).daily(date).complete.total_duration
            %td.time-entries
              %ul.time-entries-list
                - user.workloads.where(issue_id: @project.issues.ids).daily(date).complete.each do |workload|
                  %li.time-entries-list__item
                    = workload.formatted_distance_of_time
                    %span.text-muted
                      (#{workload.formatted_duration})
                    = link_to workload.issue.subject, workload.issue
