= link_to :back do
  = fa_icon "angle-double-left"
  Back
.reports__head
  %h1.caption
    = @project.name
    %small
      TOTAL TIME
      = @project.time_entries.total_duration
  %p
    = @project.issues.open.count
    open issues
    ,
    = @project.issues.closed.count
    closed issues
    ,
    = @project.comments.count
    comments
    ,
    = @project.members.count
    members

.reports__time-entries
  %h2
    = Time.zone.today
    %small
      TOTAL TIME
      = @project.time_entries.daily.total_duration
  %table.table.table-bordered
    %thead
      %tr
        %th User
        %th Total Duration
        %th Time Entries
    - @project.users.each do |user|
      %tr
        %td
          = image_tag gravatar_url(user.email), class: "img-circle"
          = link_to user.name, user
        %td
          = user.workloads.where(issue_id: @project.issues.ids).daily.total_duration
        %td.time-entries
          %ul.time-entries-list
            - user.workloads.where(issue_id: @project.issues.ids).daily.each do |workload|
              %li.time-entries-list__item
                #{workload.start_at.hour}:#{workload.start_at.min}-#{workload.end_at.hour}:#{workload.end_at.min}
                %span.text-muted
                  (#{workload.duration})
                = link_to workload.issue.subject, workload.issue
