%nav.navbar.navbar-default{ role: "navigation" }
  .container-fuild
    .navbar-header
      %button.navbar-toggle{ type: "button", data: { toggle: "collapse", target: ".navbar-ex1-collapse" } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: "navbar-brand", "data-no-turbolink" => 1 do
        = fa_icon "clock-o"
        Timecard
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav.login{class: user_signed_in? ? "true" : "false"}
        %li
          = link_to projects_path do
            = fa_icon "folder"
            Projects
        - if user_signed_in?
          %li
            = link_to reports_path do
              = fa_icon "bar-chart-o"
              Reports
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.timer{ class: "timer--#{current_user_time_tracking? ? 'on' : 'off'}" }
          %li.current-user{ "data-id" => current_user.id }
            = link_to user_path(current_user) do
              = image_tag gravatar_url(current_user.email, 16)
              = current_user.name
          %li
            = link_to edit_user_registration_path do
              = fa_icon "cog"
              Account settings
          %li
            = link_to destroy_user_session_path, method: :delete do
              = fa_icon "sign-out"
              Logout
        - else
          %li
            = link_to new_user_session_path do
              = fa_icon "sign-in"
              Login
