!!!
%html
  %head
    %title= @title ? @title : "Timecard"
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{:class => controller.controller_name}
    = render 'layouts/nav'
    .container
      - if user_signed_in?
        .table-responsive
          %table#workers.table.hidden{"data-user-id" => current_user.id}
      - if notice
        .alert.alert-success= notice
      - if alert
        .alert.alert-danger= alert
      = yield
