<!DOCTYPE html>
<html>
<head>
  <title><%= @title ? @title : "Timecard" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>" data-timer="<%= timer %>">
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Timecard", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li>
            <%= link_to "Projects", projects_path %>
          </li>
          <li>
            <%= link_to "Me", user_path(current_user.id) %>
          </li>
          <li>
            <%= link_to "Account settings", edit_user_registration_path %>
          </li>
          <li>
            <%= link_to "Import", data_path %>
          </li>
          <li>
            <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Login", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div id="running-users">
        <%= render partial: "shared/running_users" %>
      </div>
      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
