!!!
%html
  %head
    %title= @title ? @title : "Timecard"
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{class: "#{controller.controller_name} #{controller.controller_name}-#{controller.action_name}" }
    = render 'layouts/nav'
    .container-fluid
      .row
        .col-lg-12.col-md-12
          - if notice
            .alert.alert-success.alert-dismissable
              %button{type: "button", class: "close", "data-dismiss" => "alert", "aria-hidden" => true}
                &times;
              = notice
          - if alert
            .alert.alert-danger.alert-dismissable
              %button{type: "button", class: "close", "data-dismiss" => "alert", "aria-hidden" => true}
                &times;
              = alert
          = yield
