<%= link_to "Back to project", @project %>
<h2>
  <%= @project.name %>
</h2>
<div class="row">
  <div class="col-md-6">
    <h3>
      Project Member
    </h3>
    <ul>
      <% @members.each do |member| %>
        <li>
        <%= member.user.username %>
        <% unless member.is_admin %>
          <%= link_to "Delete", member_path(member), class: "btn btn-xs btn-danger", confirm: "Are you sure?", method: :delete %>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>
      All User
    </h3>
    <ul>
      <% User.where.not(id: @members.pluck(:user_id)).each do |user| %>
        <li>
        <%= user.username %>
        <%= link_to "Add", project_members_path(@project, user_id: user.id), class: "btn btn-xs btn-success", method: :post %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
